In [2]:
import pandas as pd
import numpy as np
from random import randint

In [ ]:
############ BASES COM 10^4 ELEMENTOS #############

In [27]:
# Listas com 10^4 elementos


lista_random104 = [] # Lista com  elementos randomicos entre 0 e 1000000
lista_seq104 = [] # Lista sequencial 
for i in range(10000):
    lista_random104.append(randint(0, 1000000))
    lista_seq104.append(i + 1)

# Ordenando as duas listas (TimSort)
lista_random104.sort()
lista_seq104.sort()

# Convertendo para arrays
array = np.array(lista_random104)
array2 = np.array(lista_seq104)

In [ ]:
## 10^4 COM RANDOM

In [34]:
df104random = pd.DataFrame(array)
df104random

           0
0         55
1         63
2         73
3        174
4        298
...      ...
9995  999729
9996  999745
9997  999875
9998  999880
9999  999894

[10000 rows x 1 columns]

In [31]:
np.std(array) # Desvio padrão do array com elementos randomicos

array([    1,     2,     3, ...,  9998,  9999, 10000])

In [37]:
df104random.to_csv('base_10000_random.csv', index=True)

In [ ]:
## 10^4 SEQUENCIAL

In [35]:
df104seq = pd.DataFrame(array2)
df104seq

          0
0         1
1         2
2         3
3         4
4         5
...     ...
9995   9996
9996   9997
9997   9998
9998   9999
9999  10000

[10000 rows x 1 columns]

In [36]:
np.std(array2, axis=0) # Desvio padrão do array com elementos sequenciais

2886.751331514372

In [38]:
# Exportando as bases para um arquivo csv
df104seq.to_csv("base_10000_sequencial.csv", index=True)

In [ ]:
############ BASES COM 10^5 ELEMENTOS #############

In [11]:
# Listas com 10^5 elementos


lista_random105 = [] # Lista com  elementos randomicos entre 0 e 1000000
lista_seq105 = [] # Lista sequencial 
for i in range(100000):
    lista_random105.append(randint(0, 1000000))
    lista_seq105.append(i + 1)

# Ordenando as duas listas (TimSort)
lista_random105.sort()
lista_seq105.sort()

# Convertendo para arrays
array = np.array(lista_random105)
array2 = np.array(lista_seq105)

In [12]:
df105random = pd.DataFrame(array)
df105random

            0
0           1
1           1
2          22
3          25
4          39
...       ...
99995  999948
99996  999951
99997  999960
99998  999968
99999  999991

[100000 rows x 1 columns]

In [13]:
np.std(array, axis=0)

288657.3864939221

In [14]:
df105random.to_csv("base_100000_random.csv", index=True)

In [48]:
## 10^5 sequencial

In [49]:
df105seq = pd.DataFrame(array2)
df105seq

            0
0           1
1           2
2           3
3           4
4           5
...       ...
99995   99996
99996   99997
99997   99998
99998   99999
99999  100000

[100000 rows x 1 columns]

In [50]:
np.std(array2, axis=0)

28867.513458037913

In [51]:
df105seq.to_csv("base_100000_sequencial.csv", index=True)

In [1]:
############ BASES COM 10^6 ELEMENTOS #############

In [23]:
# Listas com 10^5 elementos


lista_random106 = [] # Lista com  elementos randomicos entre 0 e 1000000
lista_seq106 = [] # Lista sequencial 
for i in range(1000000):
    lista_random106.append(randint(0, 1000000))
    lista_seq106.append(i + 1)

# Ordenando as duas listas (TimSort)
lista_random106.sort()
lista_seq106.sort()

# Convertendo para arrays
array = np.array(lista_random106)
array2 = np.array(lista_seq106)

In [24]:
df106random = pd.DataFrame(array)
df106random

              0
0             1
1             1
2             2
3             3
4             5
...         ...
999995   999990
999996   999991
999997   999992
999998   999996
999999  1000000

[1000000 rows x 1 columns]

In [25]:
np.std(array, axis=0)

288567.1257351713

In [26]:
df106random.to_csv("base_1000000_random.csv", index=True)

In [27]:
## 10^6 sequencial

In [28]:
df106seq = pd.DataFrame(array2)
df106seq

              0
0             1
1             2
2             3
3             4
4             5
...         ...
999995   999996
999996   999997
999997   999998
999998   999999
999999  1000000

[1000000 rows x 1 columns]

In [29]:
np.std(array2, axis=0)

288675.1345946685

In [ ]:
df106seq.to_csv("base_1000000_sequencial.csv", index=True)